
#wrapper {
	width: 760px;
	border: 1px solid silver;
	padding: 10px;
	margin: 0px auto;
}

#header {
	height: 100px;
}

#nav {
	background-color: grey;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
#nav a {
	color: orange;
	font-weight: bold;
	font-size: 25px;
	margin: 0px 25px;
	text-decoration: none;
}

#nav a:hover {
	color: green;
	text-decoration:underline;
}

#left_nav {
	float: left;
	width: 200px;
	padding: 5px;
	border: 1px solid silver;
	margin-top: 15px;
	margin-right:15px;
	background-color:white;
}
#left_nav h2 {
	font-size: 25px;
	color: blue;
	text-decoration: underline;
}
#left_nav p {
	background-color:green;
	margin: 10px 0px;
	color:white;
}

#right_content {
}

#right_content .picture_left {
	float:left;
	margin: 0px 10px 10px 10px;
}

#footer {
	clear:both;
	text-align:center;
	background-color: silver;
	border-bottom: 3px solid orange;

}

.outer_container {
	border: 1px solid black;
	background-color:red;
	padding: 3px;
	width: 150px;
}

.inner_container {
	background-color: white;
	border: 1px solid black;
	height: 50px;
}







